.Entry_logo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.vhod {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

input::placeholder {
    color: gray;
    font-size: 14px;
}

input {
    background-color: black;
    width: 600px;
    height: 50px;
    border-color: white;
    color: white;
}

.inputs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 400px;
    margin-top: 50px;
}
.remember{
    display: flex;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}