.registraction{
    width: 100%;
    height: 100vh;
    background: url('../../Assets/img/S7ATke.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.registration_h1{
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}
.reg_exit, .name_reg{
    font-size: 25px;
    margin: 70px;
    text-decoration: none;
    color: #fff;
}
.input_w{
    width: 500px;
    height: 50px;
    background-color: #000;
    color: #fff;
}
.input_reg{
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_reg{
    width: 200px;
    height: 50px;
    background-color: #000;
    color: #fff;
    margin-top: 20px;
}
.input_p{
    margin: 0px;
}
.box_reg{
    margin-top: 20px;
}